In [1]:
from bs4 import BeautifulSoup
import requests
response = requests.get('https://www.honeypot.io/women-in-tech-2018/')
html_doc = response.content
soup = BeautifulSoup(html_doc, 'html.parser')

In [2]:
import pandas as pd
df = pd.read_html(soup.prettify())[0]

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0    Workforce Today                     \
                   #            Country Unnamed: 2_level_1 Unnamed: 3_level_1
0                  1           Portugal               5.18               2.53
1                  2      United States             159.19              74.43
2                  3             Latvia               0.99               0.50
3                  4            Finland               2.68               1.29
4                  5             France              29.56              14.22

                                                                               \
  Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1 Unnamed: 7_level_1
0             48.78%              32.4%              34.6%              28.6%
1             46.76%              43.5%              19.4%              25.9%
2             50.25%              44.4%              18.0%              23.1%
3             48.14%              33.8%              41.5%              62.5%
4             48.13%              31.5%              25.9%              50.0%

                                         ... Tech Industry Today  \
  Unnamed: 8_level_1 Unnamed: 9_level_1  ... Unnamed: 14_level_1
0              24529              20026  ...              16.08%
1              60154              48795  ...              24.61%
2              22389              18583  ...              24.87%
3              42127              34680  ...              21.93%
4              42992              36199  ...              18.09%

                                                               \
  Unnamed: 15_level_1 Unnamed: 16_level_1 Unnamed: 17_level_1
0             -32.69%              30.56%               38878
1             -22.15%              24.24%               98265
2             -25.38%              16.67%               40485
3             -26.20%              20.00%               54303
4             -30.03%              25.37%               59254

                                                               \
  Unnamed: 18_level_1 Unnamed: 19_level_1 Unnamed: 20_level_1
0               34563              11.10%               7.26%
1               86608              11.86%               7.02%
2               36072              10.90%               6.10%
3               46972              13.50%               4.18%
4               52262              11.80%               4.00%

  Inequality & Opportunity
       Unnamed: 21_level_1 Unnamed: 22_level_1 Unnamed: 23_level_1
0                    0.091              13.13%               5.23%
1                    0.203              18.81%               0.07%
2                    0.191              17.28%              -0.28%
3                    0.056              19.59%              -1.91%
4                    0.102              12.36%               3.44%

[5 rows x 24 columns]

In [4]:
column_data = r"""Total Workforce (Millions)

Female Workforce (Millions)

% Women

% Women Legislators, Senior Officials, and Managers

% Women in Parliament

% Women in Ministerial Positions

Overall Workforce Average Wage (in USD$)

Women's Average Wage (USD$)

Gender Pay Gap (%)

Tech Workforce (Thousands)

% Workforce in Tech

Female Tech Workforce (Thousands)

% Women in Tech

% Difference of Women in Workforce and Women in Tech

Female STEM Graduates (%)

Tech Average Wage (USD$)

Tech Average Wage for Women (USD$)

Gender Pay Gap in Tech (%)

% Difference of Overall Gender Pay Gap and Gender Pay Gap in Tech

Gender Inequality Index (Score, 0 = equality)

Gender Pay Gap 2010

Comparison of Gender Pay Gap From 2010 To 2015
"""

In [5]:
columns_pre1 = column_data.split('\n')

In [6]:
columns_pre2 = list(filter(lambda x: x != '', columns_pre1))

In [7]:
columns = ['#', 'Country'] + columns_pre2

In [8]:
df.columns = columns

In [9]:
df = df.set_index('#')

In [10]:
df.head()

,Country,Total Workforce (Millions),Female Workforce (Millions),% Women,"% Women Legislators, Senior Officials, and Managers",% Women in Parliament,% Women in Ministerial Positions,Overall Workforce Average Wage (in USD$),Women's Average Wage (USD$),Gender Pay Gap (%),...,% Women in Tech,% Difference of Women in Workforce and Women in Tech,Female STEM Graduates (%),Tech Average Wage (USD$),Tech Average Wage for Women (USD$),Gender Pay Gap in Tech (%),% Difference of Overall Gender Pay Gap and Gender Pay Gap in Tech,"Gender Inequality Index (Score, 0 = equality)",Gender Pay Gap 2010,Comparison of Gender Pay Gap From 2010 To 2015
#,,,,,,,,,,,,,,,,,,,,,
1,Portugal,5.18,2.53,48.78%,32.4%,34.6%,28.6%,24529,20026,18.36%,...,16.08%,-32.69%,30.56%,38878,34563,11.10%,7.26%,0.091,13.13%,5.23%
2,United States,159.19,74.43,46.76%,43.5%,19.4%,25.9%,60154,48795,18.88%,...,24.61%,-22.15%,24.24%,98265,86608,11.86%,7.02%,0.203,18.81%,0.07%
3,Latvia,0.99,0.50,50.25%,44.4%,18.0%,23.1%,22389,18583,17.00%,...,24.87%,-25.38%,16.67%,40485,36072,10.90%,6.10%,0.191,17.28%,-0.28%
4,Finland,2.68,1.29,48.14%,33.8%,41.5%,62.5%,42127,34680,17.68%,...,21.93%,-26.20%,20.00%,54303,46972,13.50%,4.18%,0.056,19.59%,-1.91%
5,France,29.56,14.22,48.13%,31.5%,25.9%,50.0%,42992,36199,15.80%,...,18.09%,-30.03%,25.37%,59254,52262,11.80%,4.00%,0.102,12.36%,3.44%

In [11]:
countries = list(df['Country'])
countries_dict = {country : country for country in countries}

In [12]:
countries_dict['United States'] = 'United States of America'
countries_dict['Slovak Republic'] = 'Slovakia'
countries_dict['South Korea'] = 'Korea Rep'

In [13]:
df['Country'] = df['Country'].map(lambda x: countries_dict[x])

In [14]:
df['Country']

#
1                     Portugal
2     United States of America
3                       Latvia
4                      Finland
5                       France
6                       Sweden
7               United Kingdom
8                      Estonia
9                        Spain
10                      Cyprus
11                     Iceland
12                      Turkey
13                 New Zealand
14                 Netherlands
15                      Canada
16                     Croatia
17                     Ireland
18                     Austria
19                    Bulgaria
20                   Korea Rep
21                      Mexico
22                      Norway
23                 Switzerland
24                       Chile
25                      Israel
26                     Belgium
27                     Germany
28                       Japan
29                     Denmark
30                   Australia
31                       Malta
32                    Slovenia
33                     Hungary
34                       Italy
35              Czech Republic
36                     Romania
37                  Luxembourg
38                    Slovakia
39                      Greece
40                   Lithuania
41                      Poland
Name: Country, dtype: object

In [16]:
df.to_csv('Data To Use/Honeypot_Women_in_Tech.csv')